@import '../../../styles/main.module.scss';

.partnerMain {
    width: 100%;
    height: auto;
    background-color: #FEFEFE;

    h3 {
        font-size: 40px;
        font-weight: bold;
        color: $color-primary;
        text-align: center;
    }

    .partnerImgSec {
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (min-width : 1020px) and (max-width: 10000px) {
    .partnerMain {
        padding: $component-bound-space-pc;

    }
}


@media screen and (min-width : 820px) and (max-width: 1020px) {
    .partnerMain {
        padding: $component-bound-space-pc;

    }
}


@media screen and (min-width : 450px) and (max-width: 820px) {
    .partnerMain {
        padding: $component-bound-space-mb;

    }
}


@media screen and (max-width: 450px) {
    .partnerMain {
        padding: $component-bound-space-mb;

    }
}