@import '../../styles/main.module.scss';

.menuMain {
    // overflow-x: scroll;
    flex-wrap: wrap;
    font-size: 18px;
    @include vertical-align-center;

    .menuElement {
        margin: 0px 20px;

        & :hover {
            // border-radius: 10px;
            color: $white-up;
            background-color: $blue-hover;
            transition: .3s;
        }
    }

    .menuLink {
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        padding: 2.5px 8px;
        color: $color-primary;
    }
}


@media screen and (min-width : 1020px) and (max-width: 10000px) {
    .menuMain {
        display: flex;
    }
}


@media screen and (min-width : 820px) and (max-width: 1020px) {
    .menuMain {
        display: flex;
    }
}


@media screen and (min-width : 450px) and (max-width: 820px) {
    .menuMain {
        display: none;
    }
}


@media screen and (max-width: 450px) {
    .menuMain {
        display: none;
    }
}