@import '../../styles/main.module.scss';

$main-fontsize: 16px;
$main-text-height: 24px;
@mixin menuPcLink {
    text-decoration: none;
    text-align: center;
    font-size: $main-fontsize;
    color: $gray-text;
    & :hover {
        color: $color-primary;
        transition: .3s;
        font-weight: 600;
        border-bottom: solid 3px $color-primary;
    }
}

.pageSelected {
    text-align: center !important;
    font-size: $main-fontsize !important;
    color: $color-primary !important;
    font-weight: 600 !important;
    border-bottom: solid 3px $color-primary !important;
    height: 27px;
}

.menuMain {
    // overflow-x: scroll;
    flex-wrap: wrap;
    font-size: $main-fontsize;
    height: $main-text-height;
    line-height: $main-text-height;
    @include vertical-align-center;

    .menuElement {
        margin: 0px 1px;
        z-index: 7000;
        height: $main-text-height;
    }

    .subMenuGroup {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        margin: 5px 0px;
        background-color: $white-up;
        border-radius: 12px;
        cursor: pointer;
        .subMenuLink {
            @include menuPcLink;
            & :hover {
                border-bottom: none !important;
                background: $white-up;
                transition: .3s;
            }
        } 
    }

    .menuLink {
        @include menuPcLink;
    }
}


@media screen and (min-width : 1020px) and (max-width: 10000px) {
    .menuMain {
        display: flex;
    }
}


@media screen and (min-width : 820px) and (max-width: 1020px) {
    .menuMain {
        display: flex;
    }
}


@media screen and (min-width : 450px) and (max-width: 820px) {
    .menuMain {
        display: none;
    }
}


@media screen and (max-width: 450px) {
    .menuMain {
        display: none;
    }
}