@import '../../styles/main.module.scss';

@mixin menuPcLink {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 2.5px 8px;
    color: $color-primary;
}

.menuMain {
    // overflow-x: scroll;
    flex-wrap: wrap;
    font-size: 18px;
    @include vertical-align-center;

    .menuElement {
        margin: 0px 5px;
        z-index: 7000;

        & :hover {
            background-color: $white-bg;
            transition: .3s;
            border-radius: 10px;
        }
    }

    .subMenuGroup {
        background-color: $gray-bg;
        border-radius: 5px;
        border: solid 0.2px $color-primary-border;
        .subMenuLink {
            @include menuPcLink;
            & :hover {
                background: $white-up;
                transition: .3s;
                border-radius: 10px;
            }
        } 
    }

    .menuLink {
        @include menuPcLink;
    }
}


@media screen and (min-width : 1020px) and (max-width: 10000px) {
    .menuMain {
        display: flex;
    }
}


@media screen and (min-width : 820px) and (max-width: 1020px) {
    .menuMain {
        display: flex;
    }
}


@media screen and (min-width : 450px) and (max-width: 820px) {
    .menuMain {
        display: none;
    }
}


@media screen and (max-width: 450px) {
    .menuMain {
        display: none;
    }
}