@import '../../styles/main.module.scss';

$main-fontsize: 16px;

@mixin textTemplate {
    // font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
}



.footerMain {
    width: 100%;
    background-color: $white-bg;
    // margin-top: 250px;
    // color: white;

    .footerMainSec{
        border-top: solid 1px $gray-border;
    }

    .footerCopyrightSec{
        border-top: solid 1px $gray-border;
        position: relative;
        .copyrightContent {
            @include vertical-align-center;
            line-height: 24px;
            height: 24px;
            .copyrightText{
                margin: 0px;
                color: #7C7C7C;
            }
        }
    }

    .footerText {
        font-size: $main-fontsize;
        margin: 0px;
        line-height: 24px;
    }

    .mainContent {
        max-width: 310px;
    } 

    .footerIcon {
        color: $color-primary;
    }

    .footerLink {
        color: $gray-text;
        size: $main-fontsize;
        text-decoration: none;
    }

}


@media screen and (min-width : 1020px) and (max-width: 10000px) {
    .footerMainSec{
        height: 284px;
    }

    .footerCopyrightSec{
        height: 60px;
    }

}


@media screen and (min-width : 820px) and (max-width: 1020px) {
    .footerMainSec{
        height: 350px;
    }

    .footerCopyrightSec{
        height: 60px;
    }
}


@media screen and (min-width : 450px) and (max-width: 820px) {
    .footerMainSec{
        height: 840px;
    }

    .footerCopyrightSec{
        height: 90px;
    }
    
    .mainContentSec {
        width: 100%;
        // height: auto;
    }
    .mainContent {
        width: 100%;
        // height: auto;
    } 
}


@media screen and (max-width: 450px) {
    .footerMainSec{
        height: 840px;
    }

    .footerCopyrightSec{
        height: 90px;
    }
    
    .mainContentSec {
        width: 100%;
        // height: auto;
    }
    .mainContent {
        width: 100%;
        // height: auto;
    } 
}