@import '../../styles/main.module.scss';


@mixin menu-mb-setup {
    // margin-top: calc($header-height-mb + 30px);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 8000;
    overflow-y: scroll;
    background-color: white;
}

.appName {
    color: $color-primary;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
}

.headerMain {
    z-index: 6000;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: $white-up;
    border-bottom: 1px solid $blue-secondary ;

    .headerSubTop {
        width: 100%;
        height: $header-sub-top-pc;

    }

    .headerMainTop {
        height: $header-top-sec-pc;
        width: 100%;
        // margin-bottom: 10px;
    }

    .headerSec {
        position: relative;
        // @include vertical-align-center;

    }

    .leftSec {
        width: 90%;

        .infoSec {
            height: 100%;
            @include vertical-align-center;

            .logo {
                width: auto;
                height: 100%;
            }

            .fontIcon {
                font-size: 20px;
                padding: 5px;
                margin: 0px 10px;
            }
        }

    }

    .midSec {
        width: 0%;

        .infoSec {
            height: 60px;
            @include vertical-align-center;

            .infoText {
                font-size: 15px;
                color: $blue-main;
                margin: 0px;
            }

            .fontIcon {
                font-size: 15px;
                padding: 5px;

            }
        }
    }

    .rightSec {
        width: 0%;
        height: 50px;
        .infoSec {
            cursor: pointer;
            height: 30px;
            text-decoration: none;
            @include vertical-align-center;

            .infoText {
                font-size: 18px;
                color: $blue-main;
            }

            &:hover {
                transition: 0.5s;
                color: $gray-text;
            }

            .fontIcon {
                font-size: 20px;
                padding: 0px;

            }
        }
    }

    .fontIcon {
        color: $color-primary;
    }
}

.usernameLoginSec {
    width: 100%;
    padding: 10px;
    // max-width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    color: $blue-main;
    font-size: 18px;
    margin: 0px;

    p {
        margin: 0px 5px;

    }
}

.userControlPanel {
    background-color: $white-up;
    display: none;

    ul {
        list-style-type: none;
        padding: 0px;

        li {
            color: $blue-main;
            padding: 10px;

            &:hover {
                background-color: $blue-secondary;
            }

            .controlPanelIcon {
                margin: 0px 5px;
            }
        }
    }

}

.usernameHeader {
    max-width: 100%;
    text-overflow: ellipsis;

    p {
        text-align: left;
    }
}

@media screen and (min-width : 1020px) and (max-width: 10000px) {
    .headerMain {
        padding: 0px $component-bound-space-pc;
        height: auto;

        .headerMainSec {
            height: $header-bot-sec-pc;
            width: 100%;
        }


        .fontIcon {
            display: none;
        }

        .midSec {
            display: flex;
        }

        .rightSec {
            .infoSec {
                .infoText {
                    display: flex;

                }
            }
        }

    }

    .headerSubTop {
        display: block !important;
    }

}


@media screen and (min-width : 820px) and (max-width: 1020px) {
    .headerMain {
        padding: 0px $component-bound-space-pc;
        height: auto;

        .headerMainSec {
            height: $header-bot-sec-pc;
            width: 100%;
        }



        .fontIcon {
            display: none;
        }

        .midSec {
            display: flex;
        }

        .rightSec {
            .infoSec {
                .infoText {
                    display: flex;

                }
            }
        }
    }

    .headerSubTop {
        display: block !important;
    }
}


@media screen and (min-width : 450px) and (max-width: 820px) {
    .headerMain {
        padding: 0px $component-bound-space-mb;
        height: auto;

        .headerMainSec {
            display: none !important;
        }


        .fontIcon {
            display: block;
        }

        .midSec {
            display: none;
        }

        .rightSec {
            .infoSec {
                .infoText {
                    display: none;

                }
            }
        }
    }

    .mbMenuSec {
        @include menu-mb-setup;

    }

    .headerSubTop {
        display: none !important;
    }

}


@media screen and (max-width: 450px) {
    .headerMain {
        padding: 5px $component-bound-space-mb;
        height: auto;

        .headerMainSec {
            display: none !important;
        }


        .fontIcon {
            display: block;
        }

        .midSec {
            display: none;
        }

        .rightSec {
            .infoSec {
                .infoText {
                    display: none;

                }
            }
        }


    }

    .mbMenuSec {
        @include menu-mb-setup;

    }

    .headerSubTop {
        display: none !important;
    }

}