@import '../../styles/main.module.scss';

$header-height: 88px;

@mixin menu-mb-setup {
    // margin-top: calc($header-height-mb + 30px);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 6000;
    overflow-y: scroll;
    background-color: white;
}

.appName {
    color: $color-primary;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
}

.headerMain {
    z-index: 5000;
    position: fixed;
    width: 100%;
    height: $header-height;
    top: 0px;
    left: 0px;
    background-color: $white-up;
    // border-bottom: 1px solid $blue-secondary ;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);

    .mbAltIcon {
        background-color: $blue-secondary;
        border-radius: 5px;
        height: 44px;
        width: 44px;
    }

    .headerSubTop {
        width: 100%;
        // height: $header-sub-top-pc;

    }

    .headerMainTop {
        // height: $header-top-sec-pc;
        width: 100%;
        // margin-bottom: 10px;
    }

    .headerSec {
        position: relative;
        // @include vertical-align-center;

    }

    .leftSec {
        width: 20%;
        height: 100%;
        .infoSec {
            height: 100%;
            position: relative;

            .logo {
                margin: 20px;
                width: auto;
                height: 48px;

            }

            .fontIcon {
                font-size: 20px;
                padding: 5px;
                margin: 0px 10px;
            }
        }

    }

    .midSec {
        width: 60%;
        height: 100%;
        .infoSec {
            height: 60px;
            @include vertical-align-center;

            .infoText {
                font-size: 15px;
                color: $blue-main;
                margin: 0px;
            }

            .fontIcon {
                font-size: 15px;
                padding: 5px;

            }
        }
    }

    .rightSec {
        width: 20%;
        height: 100%;
        .infoSec {
            cursor: pointer;
            height: 44px;
            text-decoration: none;
            @include vertical-align-center;

            .infoText {
                font-size: 18px;
                color: $blue-main;
            }

            &:hover {
                transition: 0.5s;
                color: $gray-text;
            }

            .fontIcon {
                font-size: 20px;
                padding: 0px;

            }
        }
    }

    .fontIcon {
        color: $color-primary;
    }
}

.usernameLoginSec {
    width: 100%;
    padding: 10px;
    // max-width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    color: $blue-main;
    font-size: 18px;
    margin: 0px;

    p {
        margin: 0px 5px;

    }
}

.userControlPanel {
    background-color: $white-up;
    display: none;

    ul {
        list-style-type: none;
        padding: 0px;

        li {
            color: $blue-main;
            padding: 10px;

            &:hover {
                background-color: $blue-secondary;
            }

            .controlPanelIcon {
                margin: 0px 5px;
            }
        }
    }

}

.usernameHeader {
    max-width: 100%;
    text-overflow: ellipsis;

    p {
        text-align: left;
    }
}

@media screen and (min-width : 1050px) and (max-width: 10000px) {
    .headerMain {
        .headerMainSec {
            // height: $header-bot-sec-pc;
            width: 100%;
        }


        .fontIcon {
            display: none;
        }

        .midSec {
            display: flex;
        }

        .rightSec {
            .infoSec {
                display: none;
            }
            .mbAltIcon{
                display: none !important;

            }
        }

    }

    .headerSubTop {
        display: block !important;
    }

}


// @media screen and (min-width : 1000px) and (max-width: 1020px) {
//     .headerMain {

//         .headerMainSec {
//             // height: $header-bot-sec-pc;
//             width: 100%;
//         }



//         .fontIcon {
//             display: none;
//         }

//         .midSec {
//             display: flex;
//         }

//         .rightSec {
//             .infoSec {
//                 display: none;
//             }
//             .mbAltIcon{
//                 display: none !important;

//             }
//         }
//     }

//     .headerSubTop {
//         display: block !important;
//     }
// }


@media screen and (min-width : 450px) and (max-width: 1050px) {
    .headerMain {

        .headerMainSec {
            display: none !important;
        }


        .fontIcon {
            display: block;
        }

        .midSec {
            display: none;
        }

        .rightSec {
            .infoSec {
                display: flex;
            }
        }
    }

    .mbMenuSec {
        @include menu-mb-setup;

    }

    .headerSubTop {
        display: none !important;
    }

}


@media screen and (max-width: 450px) {
    .headerMain {

        .headerMainSec {
            display: none !important;
        }


        .fontIcon {
            display: block;
        }

        .midSec {
            display: none;
        }

        .rightSec {
            .infoSec {
                display: flex;
            }
        }


    }

    .mbMenuSec {
        @include menu-mb-setup;

    }

    .headerSubTop {
        display: none !important;
    }

}